* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Raleway';
}
body {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.navBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navBar nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  background-color: navy;
}
.navBar nav a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
footer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100%;
  background-color: navy;
}
footer p {
  font-family: 'Russo One', sans-serif;
  color: white;
}
section {
  height: 100px;
}
.video-container .overlay {
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.video-container .overlay video {
  position: absolute;
  width: 100%;
  object-fit: cover;
}
.video-container .intro {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.video-container .intro h1 {
  margin: 10% 15%;
  color: white;
  opacity: 0.9;
}
.video-container .intro p {
  margin: 10% 15%;
  font-size: 2.4rem;
  color: white;
  opacity: 0.9;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% 15%;
}
