footer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: navy;
      p{
        // font-family: 'Raleway';
        font-family: 'Russo One', sans-serif;
        color: white;
    }
}
