.navBar{
    display: flex;
    flex-direction: column;
    width: 100%;
    nav{
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
        height: 50px;
        align-items: center;
        background-color: navy;
        a{
            text-decoration: none;
            color: white;
            font-size: 1.8rem;
        }
    }
}